nav a:hover, nav a:focus {
  text-decoration: underline;
  color: #9c6644; /* Warm brown */
}

.skip a{
    position: absolute;
    top: -50px;
    left: 10px;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    padding: 10px;
    width: 130px;
    box-sizing: border-box;
    background-color: #F3FBEF;
    border-radius: 7px;
    border: 2px solid #4D543B;
    margin: auto;
    box-shadow: 2px 2px 5px #4D543B, inset 0px 0px 7px rgba(0, 0, 0, 0.3);
    color: #4D543B;
    font-family: 'Patua One';
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}


.skip a:focus{
    top: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 30px;
}

nav li {
    padding: 10px;
    width: 100px;
    /*box-sizing: border-box;*/
    background-color: #F3FBEF;
    border-radius: 7px;
    border: 2px solid #4D543B;
    margin: 3px;
    box-shadow: 2px 2px 5px #4D543B, inset 0px 0px 7px rgba(0, 0, 0, 0.3);    
}

nav a {
    color: #9c6644; /* Warm brown */
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 18px;
}

nav li.active {
    background-color: #c1a57b; /* Light brown */
    border: 2px solid #F3FBEF;
}

nav li.active a{
    color: #fff; /* White */
    text-decoration: underline;
}

.intro {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 400px;
}

.column#museum, .column#books {
    display: none;
}

.row {
    grid-area: 1/1/2/7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
  
.column {
    width: 23%;
}

.pic {
    grid-area: 2/1/3/7;
    height: 480px;
    align-self: center;
    justify-self: center;
    background-color: rgba(252, 252, 252, 0.2);
    border-radius: 80px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 40%), inset 0px 0px 25px rgb(0 0 0 / 30%);
}


.summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin: 0 auto;
    width: 1000px;
    padding: 25px;
    border-radius: 50px;
    background-color: #f2e5d1; /* Light beige */
    box-shadow: 2px 2px 5px #4D543B, inset 0px 0px 7px rgba(0, 0, 0, 0.3); 
}

.summary p {
    font-size: 21px;
    font-family: 'Tiro Tamil';
    border-radius: 30px;
    margin-top: 0px;
    padding: 15px;
    color: rgb(41, 41, 41);
    background-color: #e5d8bf; /* Beige */
}

.row:focus, .pic:focus, .summary:focus {
    box-sizing: border-box;
    border: 2px solid white;
    box-shadow: 0px 0px 40px rgba(189, 158, 112, 0.8), inset 0px 0px 25px rgb(0 0 0 / 30%);
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

body {
    height: 100vh;
    margin-top: 4em;
    background-color: #e5d8bf; /* Beige */
}


h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Patua One';
    font-size: 80px;
    color: #4d443a; /* Dark brown */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: transparent; /* Make text stroke transparent */
    text-shadow: 2px 3px #a3927b; /* Light brown text shadow */
}

header h2 {
    text-align: center;
}

h2 {
    font-family: 'Tiro Tamil';
    font-style: italic;
    margin: 10px 0px;
    font-size: 25px;
    letter-spacing: 1.5px;
} 

.checked {
    color: orange;
  }

p {
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 18px; 
    line-height: 1.15;
}

.cards.right.text{
    overflow: hidden;
}

.cards:not(.right).text{
    overflow: auto;
}

.card_container {
    width: 400px;
    /* min-width: none; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    position: relative;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(0 0 0 / 40%), inset 0px 0px 25px rgb(0 0 0 / 30%);
    position: absolute;
    width: 250px;
    height: 350px;
    transition: all 400ms ease;
    background-size: cover;
    background-position: center;
    background-color: rgba(252, 252, 252, 0.92);
}

.cards:hover:not(.active).right, .cards:focus:not(.active).right {
    transform: translateX(45%) rotate(3deg) scale(0.9);
}

.cards.active:hover, .cards.active:focus {
    transform: translateX(-20%) scale(1.1);
}

.cards.right {
    transform: translateX(30%) scale(0.9);
}

.cards.active {
    transform: translateX(-20%);
}

.cards.active {
    z-index: 5;
    position: relative;
}

@media screen and (prefers-reduced-motion: reduce){
    .card_container {
        width: 600px;
        justify-content: space-evenly;
    }

    .cards {
        transition: none;
        position: relative;
    }

    .cards:focus, .cards:hover {
        box-sizing: border-box;
        border: 2px solid white;
        box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.8), inset 0px 0px 25px rgb(0 0 0 / 30%);
    }

}

.cards__inner {
    position: relative;
    height: auto;
    width: 100%;
    display: inline-block;
    justify-content: center;
    padding: 20px;
}

.cards__inner > img {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    border: solid 2px rgba(0,0,0,0.2);
}

footer p{
    font-family: 'Tiro Tamil';
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (min-width:800px){
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    h1 {
        grid-area: 2/1/3/6;
        margin: 0;
        text-align: center;
        align-self: center;
    }

    h2 {
        grid-area: 3/1/4/6;
        margin-left: 10px;
        margin-right: 10px;
    }

    nav {
        grid-area: 1/2/2/5;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }

    nav ul {
        flex-direction: row;
        column-gap: 10px;
        margin-right: 0px;
    }

    nav li {
        width: 170px;
        height: 50px;
    }

    nav li a {
         font-size: 25px;
    }

    .intro {
        grid-template-rows: 400px;
    }

    .column#books {
        display: inherit;
    }

    .column {
        width: 18%;
    }

    .pic {
        grid-area: 2/1/3/4;
        justify-self: end;
    }


    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(11,200px);
        justify-items: center;
    }
    
    .avatar {
        grid-row: 1/span 2;
    }

    .conjuring {
        grid-row: 2/span 2;
        grid-column: 2/3;
        margin-top: 0px;
    }

    .encyclopedia {
        grid-row: 3/span 2;
        grid-column: 1/2;
    }

    .frozen {
        grid-row: 4/span 2;
        grid-column: 2/3;
        margin-top: 0px;
    }

    .kingdom {
        grid-row: 5/span 2;
        grid-column: 1/2;
    }

    .percyjackson {
        grid-row: 6 /span 2;
        grid-column: 2/3;
        margin-top: 0px;
    }

    .rainbow {
        grid-row: 7 /span 2;
        grid-column: 1/2;
    }

    .series {
        grid-row: 8 /span 2;
        grid-column: 2/3;
        margin-top: 0px;
    }

    .suite {
        grid-row: 9 /span 2;
        grid-column: 1/2;
    }

    .ultron {
        grid-row: 10/ span 2;
        grid-column: 2/3;
        margin-top: 0px;
    }
}

@media screen and (prefers-reduced-motion: reduce) and (min-width:800px) {
    div.grid .card_container {
        width: 100%;
    }
    div.grid .cards {
        width: 47%;
        max-width: 250px;
        height: auto;
    }

    div.grid .cards h2 {
        font-size: 20px;
    }

    div.grid .conjuring, div.grid .frozen, div.grid .percyjackson, div.grid .series, div.grid .ultron {
        margin-bottom: 60px;
        margin-top: 0px;
    }

}

/*desktop*/
@media screen and (min-width:1200px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    h1 {
        padding: 10px;
    }

    header h2 {
        text-align: center;
    }

    nav {
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }

    nav ul {
        column-gap: 20px;
    }

    .column#museum {
        display: inherit;
    }

    .column {
        width: 15%;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        justify-items: center;
    }

    .card_container {
        /*grid-row: auto;
        grid-column: auto;*/
        margin-top: 60px;
    }

    .card_container:nth-last-child(1) {
        grid-column: 2;
    }
    .card_container:last-child {
        grid-column: 3; /* Place the last card_container in the third column */
        grid-row: auto; /* Allow it to auto-place within the third column */
    }

}

@media screen and (prefers-reduced-motion: reduce) and (min-width:1200px) {
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 410px);
        justify-items: center;
    }

    div.grid .cards {
        height: auto;
    }

    div.grid .conjuring, div.grid .frozen, div.grid .percyjackson, div.grid .series, div.grid .ultron {
        margin-bottom: 0px;
        margin-top: 60px;
    }

    div.grid .card_container {
        width: 600px;
    }

    div.grid .cards h2 {
        font-size: 25px;
    }
}